* {
    box-sizing: border-box;
}

/* верхнаяя часть сайта */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.middle .container .image1 {
    max-width: 100%;
}
.middle .container .image2 {
    max-width: 100%;
}
.middle .container .image3 {
    max-width: 100%;
}
.middle .container .image4 {
    max-width: 100%;
}

/* пишем контейнер сверху потому-что мы используем его не только для середины страницы,
мы будем применять его еще в других компонентах верстки, сейчас мы создаем общий контейнер для всех 
потому-что в контейнере будет лежать наш контент*/

.container {
    max-width: 1040px; 
    

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}   

.container2 {
    max-width: 1110px; 
    

    margin-right: auto;
    margin-left: auto;
}   

.none {
    display: none !important; 
}

/* header */

body .header {
    width: 100%;
    height: 100vh;
    background-color: #556983;

    display: flex;
    flex-direction: column; /* выравнивание в одну колонну*/

    justify-content: center; /* выравнивание по центру оси у */
    align-items: center; /* выравнивание по центру оси х */

    background-image: url("img/header/62801.jpg"); /* подключение картинки через css*/
    background-size: cover; /* это свойство помогает растянуть картинку по всей странице сайта ( подходит к случаям когда из-за
     неподходящего размера картинки, картинка начинает дублироваться ) */
}

body .header .header-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    color: white;
}

body .header .header-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: white;

    letter-spacing: 0.2em; /* пробелы между буквами*/
    text-transform: uppercase; /* эта команда делает буквы заглавными */
}

body .header .header-arrow {
    width: 48px;
    height: 48px;

    
    position: absolute; /* делает див независимым, типо */
    bottom: 0;
    background-image: url(/img/header/downarrow_121316.png); 
}

/* ниже будет приведен код середины страницы  */

body .middle {
    
    padding-top: 80px;
    padding-bottom: 115px;
}

.middle .container .image1 {
    width: 450px;
    height: 242px;
    background-color: #1E4776;
    background-image: url("");
    background-size: cover;
}

.middle .container .image1 p {
    color: white;
    font-size: 20px;
}

.middle .container .image2 {
    width: 450px;
    height: 242px;
    background-color: #1E4776;
    background-image: url("");
    background-size: cover;
}

.middle .container .image2 p {
    color: white;
    font-size: 20px;
}

.middle .container .image3 {
    width: 450px;
    height: 242px;
    background-color: #1E4776;
    background-image: url("");
    background-size: cover;
}

.middle .container .image3 p {
    color: white;
    font-size: 20px;
}

.middle .container .image4 {
    width: 450px;
    height: 242px;
    background-color: #1E4776;
    background-image: url("");
    background-size: cover;
}

.middle .container .image4 p {
    color: white;
    font-size: 20px;
}

.portfolio-header {
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: black;

    margin: 0;
    margin-bottom: 70px;
}

.portfolio-card-wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.middle .container .card {
    margin-bottom: 30px;
    max-width: 540px;
    background-color: white;

    /* box-shadow - тень, первое значение это длина тени по оси х, второе по оси у, третье длина размытия тени,
    дальше идет цвет, первые три значения это сам цвет, а последнее определяет прозрачность цвета  */
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.39);  
    transition: transform 0.2s ease-in;
}

.middle .container .card:hover {
    transform: translateY(-15px);
}

.card-link {
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: color 0.2s ease-in;
}

.card-link:hover {
    color: rgb(39, 91, 236);
}


/* можно выбирать к какому блоку или элементу мы приписываем свойства если их много с помощью свойства last-child */
.middle .container .portfolio-card-wrapper .card:last-child , .middle .container .portfolio-card-wrapper .card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
}

.middle .container .card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
  
}

.card p {
    margin: 0;

    font-size: 16px;
    line-height: 130%;
    
    
}

/* footer */

.footer {
    padding-top: 45px;
    padding-bottom: 130px;
    background: #1E4776;
    color: white;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    max-width: 350px;
    color: #7e9ec9;
}

.footer-copyright-name {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 15px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600; 
    line-height: 1.3;
}

.footer-icons {
    max-width: 350px;
}

.footer-icons p {
    font-size: 16px;
    font-weight: 600; 
    line-height: 1.3;
    color: white;
    margin-top: 0;
}

.footer-icons-row {
    display: flex;
    align-items: center;
}

.footer-icons-row > * + * {
    margin-left: 30px;
}

.footer-contacts {
    max-width: 350px;
}

.footer-button {
    height: 50px;
    display: inline-block;

    border: 3px solid white;
    border-radius: 50px;

    color: white;
    line-height: 44px;

    padding-left: 30px;
    padding-right: 30px;

    font-weight: 700;
    font-size: 16px;

    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.footer-button:hover {
    background-color: white;
    color: #1E4776;
}

.footer-contacts p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    color: #7e9ec9;
}

/* project */

.project {
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
}

.image-index-2 {
    background-color: grey;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.image-index-2 p {
    font-size: 20px;
}

.project-header {
    margin: 0;
    font-weight: bold;
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 40px;
}

.project-description {
    max-width: 730px;
    margin-bottom: 80px;
    margin-left: auto;  
    margin-right: auto;

    /* тэг ауто очень полезный потому что выравнивает все что надо относительно ширины */
    margin-top: 60px;
}


.project-description p {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 15px;
    align-items: center;
}


.project-btn-back {
    height: 50px;
    display: inline-block;

    border: 3px solid #275bec;
    border-radius: 50px;

    color: #275bec;
    line-height: 44px;

    padding-left: 30px;
    padding-right: 30px;

    font-weight: 700;
    font-size: 16px;

    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.project-btn-back:hover {
    background-color: #275bec;
    color: white;
}
